{% extends 'dndlite/layout.html' %}
{% load static %}

{% block title %}
  Registrarse
{% endblock %}

{% block content %}
 <div class="message">
    {% if message %}
        <div class="alert alert-danger alert-dismissible class">
          {{ message }}
          <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
        </div>
    {% endif %}
 </div>
  <h1>Register</h1>
  <form  id="registerForm" action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
    <div class="userFormView">
      {% csrf_token %}
      {{ userForm.username.label }}
      {{ userForm.username }}
      {{ userForm.email.label }}
      {{ userForm.email }}
      {{ userForm.password.label }}
      {{ userForm.password }}
      {{ userForm.password2.label }}
      {{ userForm.password2 }}
      {{ userForm.first_name.label }}
      {{ userForm.first_name }}
      {{ userForm.last_name.label }}
      {{ userForm.last_name }}
    </div>
    <div class="profileFormView">
      {{ profileForm.bio.label }}
      {{ profileForm.bio }}
      {{ profileForm.pronouns.label }}
      {{ profileForm.pronouns }}
      {{ profileForm.birthdate.label }}
      <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
        {{ profileForm.birthdate }}
        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
          <div class="input-group-text">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="imageFormView">
      {{ pictureForm.image.label }}
      {{ pictureForm.image }}
    </div>
  <input type="submit" class="submitButton btn btn-dark" value="Register">
  </form>
  <div class="navigationView ">
    <button class="previousButton btn btn-dark" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
      </svg>
    </button>
    <button class="nextButton btn btn-dark" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
      </svg>
    </button>
  </div>
  <script>
    $(function () {
      $("#datetimepicker1").datetimepicker({
        format: 'DD/MM/YYYY',
      });
    });
  </script>
{% endblock %}
{% block script %}
  <script src="{% static 'dndlite/script/register.js' %}"></script>
{% endblock %}
